.item-card {
    @include basic-box;
    max-width: 300px;
    border-radius: 6px 6px 0 0;

    &:hover {
        border-color: $secondary-light;
    }

    .image-box {
        height: 300px;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        border-radius: 5px 5px 0 0;
    }

    .item-image {
        min-height: 300px;
        max-width: none;
        min-width: 100%;
    }

    .item-summary {
        padding: 10px;
        min-height: 160px;
        // height: ;
        border-top: 1px solid $background;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;

        .summary-heading {
            display: flex;
            justify-content: space-between;
            gap: 10px;

            p {
                color: $light-gray;
            }
        }

        h5 {
            padding: 0;
            margin: 0;
            line-height: 1.2;
        }

        .stock {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 5px 25px;

            li {
                font-size: .8rem;
            }

            .out-of-stock {
                color: $light-gray;
            }
        }
    }

    @media (max-width: $tablet) {
        max-width: 340px;

        .image-box {
            height: 340px;
        }

        .item-image {
            min-height: 340px;
        }
    }
    
    @media (max-width: $mobile) {
        max-width: 500px;

        .image-box {
            height: 500px;
        }

        .item-image {
            min-height: 500px;
        }
    }
}