.landing-page {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;

    .product-list {
        width: 100%;
        padding: 20px 10px;
        display:flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: flex-start;
        align-items: stretch;
    }

    .create-button {
        width: fit-content;
        margin-left: auto;
        margin-bottom: 10px;
    }
}