// colors
$background: #edeef2;
$background-secondary: #f6f6f6;
$background-third: #fcfcfc;
$secondary-light: rgb(45, 186, 220, .25);
$white-light: rgba(255, 255, 255, 0.75);
$primary-blue: #013146;
$primary-blue-xlight: rgba(1, 49, 70, 0.15);
$primary-color: #013146;
$secondary-color: #2dbadc;

// media queries
$tablet: 1000px;
$mobile: 700px;


// mixins
@mixin basic-box {
    background: $background-third;
    box-shadow: 0px 1px 3px $primary-blue-xlight;
    border-radius: 5px;
}